    <!--home section design-->
<section class="home" id="home">
    >
    <div class="home-content">
        <h3>Hello, I am</h3>
        <h1> <span>Javeria</span></h1>
        <p style="text-align: justify;">
            I’m a passionate graphics designer specializing in creating visually
            compelling designs using Adobe Creative Suite and CorelDRAW. Combining creativity with functionality, I
            aim to deliver impactful visuals while expanding my skills in web technologies like HTML, CSS, and
            JavaScript to add interactivity and value to my work.
        </p>

        <div class="social-media">
            <a href=""><i class='bx bxl-facebook'></i></a>
            <a href=""><i class='bx bxl-instagram-alt'></i></a>
            <a href=""><i class='bx bxl-linkedin'></i></a>
        </div>
        <a href="https://drive.google.com/file/d/1KDpsEZ1ylTk49io6TN6iUgZ3E6ZVj9bQ/view?usp=sharing" target="_blank"
           class="btn">Download CV</a>
    </div>

    <div class="profession-container">
        <div class="profession-box">
            <div class="profession" style="--i:0;">
                <i class='bx bx-code-alt'></i>
                <h3>Graphics Designer</h3>
            </div>


            <div class="circle"> </div>
        </div>
        <div class="overlay"></div>
    </div>
    <div class="home-img">
        <img src="assets/images/home.png" alt="">
    </div>
</section>

<!--About section design -->
<section class="about" id="about">
    <div class="about-img">
        <img src="assets/images/about.png" alt="">
    </div>
    <div class="about-content">
        <h2 class="heading"> About <span>Me</span> </h2>
        <h3>Transforming Ideas into Stunning Visual Realities</h3>

        <p style="text-align: justify;">
            Welcome to my creative space! I’m a passionate graphics designer with
            expertise in Adobe Creative Suite, CorelDRAW, and CapCut. I specialize in crafting visually captivating
            designs that tell a story and leave a lasting impact. From eye-catching branding materials to engaging
            video edits, I blend creativity with precision to deliver polished results. Let’s work together to turn
            your ideas into compelling visuals that truly stand out!
        </p>
        <a href="#" class="btn">Read More</a>
    </div>
</section>


<!--Services-->
<!--services section design-->
<section class="services" id="services">
    <h2 class="heading"> My <span>Services</span></h2>
    <div class="services-container">

        <div class="services-box">
            <i class='bx bx-code-alt bx-tada bx-rotate-90'></i>
            <h3>Web Developement</h3>
            <p>
                With my expertise in HTML, CSS, and JS, I can design websites that are both visually stunning and
                highly functional. My focus is on creating responsive and user-friendly websites.
            </p>
            <a href="#" class="btn">Read More</a>
        </div>

        <div class="services-box">
            <i class='bx bxs-paint bx-tada bx-rotate-90'></i>
            <h3>Graphics Designing</h3>
            <p>
                My forte lies in crafting compelling UI/UX that captivates attention and delivers a clear message. I
                prioritize innovative and polished designs to ensure an engaging user experience.
            </p>
            <a href="#" class="btn">Read More</a>
        </div>

        <div class="services-box">
            <i class='bx bx-video bx-tada bx-rotate-90'></i>
            <h3>Video Editing</h3>
            <p>
                Providing expert video editing services tailored to your needs. With a deep understanding of visual
                storytelling. I ensure your footage is transformed into captivating content.
            </p>
            <a href="#" class="btn">Read More</a>
        </div>



        <div class="services-box">
            <i class='bx bxs-doughnut-chart bx-tada bx-rotate-90'></i>
            <h3>Digital Marketing</h3>
            <p>
                Specializing in digital marketing strategies that drive results. With ROI, I craft tailored campaigns
                to boost brand awareness, and increase conversions across digital channels.
            </p>
            <a href="#" class="btn">Read More</a>
        </div>


    </div>
</section>

<!--portfolio section design -->

<section class="portfolio" id="portfolio">
    <h2 class="heading">Latest <span>Project</span></h2>
    <div class="portfolio-container">
        <div class="portfolio-box">
            <img src="/images/p1.jpg" width="560px" height="360px" alt="">
        </div>

        <div class="portfolio-box">
            <img src="/images/p2.jpeg" width="560px" height="360px" alt="">
        </div>

        <div class="portfolio-box">
            <img src="/images/p3.jpg" width="560px" height="360px" alt="">
        </div>

        <div class="portfolio-box">
            <img src="/images/p4.jpg" width="560px" height="360px" alt="">
        </div>
    </div>
</section>

<!--contact section-->
<section class="contact" id="contact">
    <h2 class="heading">Contact <span>Me!</span></h2>
    <form action="send_email.php" method="post">
        <div class="input-box">
            <input type="text" name="full_name" placeholder="Full Name" required>
            <input type="email" name="email" placeholder="Email Address" required>
        </div>

        <div class="input-box">
            <input type="tel" name="mobile_number" placeholder="Mobile Number">
            <input type="text" name="subject" placeholder="Email Subject" required>
        </div>
        <textarea name="message" cols="30" rows="10" placeholder="Your Message" required></textarea>
        <input type="submit" value="Send Message" class="btn">
    </form>
</section>


